$background-color: #ffffff;

/* Text */
$text-color: #494949;
$emphasis-color: #8259c9;

/* Links */
$link-color: #9c78da;
$link-color-background: #ebe3f8;

$link-color-hover: #8259c9;
$link-color-backround-hover: #e0d4f5;
