.landing {
  width: 100%;
  max-width: 1100px;
  font-size: 1.5em;
  margin-top: 70px;

  .intro {
    margin-bottom: 70px;

    p {
      font-size: 1.2em;
      margin: 0;
      margin-bottom: 20px;
    }
  }

  h1 {
    font-size: 1.7em;
  }
}
