@import "./Variables.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

// p {
//   font-family: "Fira Code";
// }

.app {
  background: $background-color;
  color: $text-color;

  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;

  // background: rgba(0, 0, 0, 0.1);
}

a {
  color: $link-color;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.075);
  text-decoration: none;

  &:hover,
  &:active {
    // border-color: rgba(0, 0, 0, 0.3);
    border-color: #8175ffb6;
    color: $link-color-hover;
  }
}
