$background-color: #ffffff;

/* Text */
$text-color: #211a1d;
$h1-color: #6320ee;
$emphasis-color: #8075ff;

/* Links */
$link-color: #211a1d;
$link-color-background: #ebe3f8;

$link-color-hover: #6320ee;
$link-color-backround-hover: #e0d4f5;
