$background-color: #ffffff;

$primary-black-1: #211a1d;
$primary-black-2: #50454b;
$primary-black-3: rgba(0, 0, 0, 0.25);

$primary-purple-1: #6320ee;
$primary-purple-2: #8175ffb6;

/* Text */
$text-color: $primary-black-1;
$h1-color: $primary-purple-1;
$h3-color: $primary-black-2;

/* Links */
$link-text-color: $text-color;
$link-text-color-hover: $text-color;

$link-border-bottom-color: $primary-black-3;
$link-border-bottom-color-hover: $primary-purple-2;

$nav-link-underline-color: $primary-black-3;
$nav-link-underline-color-hover: $primary-purple-2;
$nav-link-underline-box-shadow-color-hover: $primary-purple-2;
