$background-color: #ffffff;

/* Text */
$text-color: #211a1d;
$h1-color: #6320ee;
$h3-color: #8455e2;

/* Links */
$link-text-color: #211a1d;
$link-text-color-hover: #6320ee;
$nav-link-underline-color: rgba(0, 0, 0, 0.075);
$nav-link-underline-color-hover: #8175ffb6;
$nav-link-underline-box-shadow-color-hover: #8175ffb6;
