@import "../../../styles/Variables.scss";

.showcaseItem {
  border: 1px solid $primary-black-2;
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 4px rgb(160, 160, 160);
    border: 1px solid $primary-purple-2;
  }

  .itemImg {
    flex: 1;
  }

  .itemText {
    height: 50px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 1px solid grey;
    font-family: "Fira Code", monospace;

    .itemTitle {
      font-size: 1em;
    }

    .itemTags {
      font-size: 0.8em;
    }
  }
}
