{{ $l := site.Data.landing }}

<div class="hero">
  <div class="profile-img">
    {{ $img := resources.Get "img/profile.png" }}
    {{ $w200 := $img.Resize "200x" }}
    {{ $w400 := $img.Resize "400x" }}
    {{ $w200webp := $img.Resize "200x webp" }}
    {{ $w400webp := $img.Resize "400x webp" }}
    <picture>
      <source type="image/webp" srcset="{{ $w200webp.RelPermalink }} 1x, {{ $w400webp.RelPermalink }} 2x">
      <img src="{{ $w200.RelPermalink }}" srcset="{{ $w200.RelPermalink }} 1x, {{ $w400.RelPermalink }} 2x" alt="{{ $l.heading }}">
    </picture>
  </div>
  <div class="text-container">
    <div class="text">
      <h1>{{ $l.heading }}</h1>
      <h2>{{ $l.subheading }}</h2>
      <span class="location">{{ $l.location }}</span>
    </div>
    <div class="links">
      {{ if $l.showCvButton }}
        <div class="cv">
          <a href="/cv.pdf" target="_blank">Open CV</a>
        </div>
      {{ end }}
      {{ range $l.links }}
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="icon-link">
          {{- with resources.Get (printf "svg/%s.svg" .featherIconKey) }}{{ .Content | safeHTML }}{{ end }}
        </a>
      {{ end }}
    </div>
  </div>
</div>
