@import "../../../styles/Variables.scss";

.tag {
  background-color: $primary-purple-4;
  color: $primary-purple-tag;
  border: 1px solid $primary-purple-2;
  border-radius: 50px;
  padding: 3px 10px;
  margin: 0 3px;
  font-size: 0.7em;
  font-weight: 500;
}
