@import "sass/variables";
@import "sass/fonts";

* {
  box-sizing: border-box;
}

// p {
//   font-family: "Fira Code";
// }

.app {
  background: $background-color;
  color: $text-color;

  min-height: 100vh;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 50px;

  // background: rgba(0, 0, 0, 0.1);
}

a {
  color: $link-color;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.075);
  text-decoration: none;

  &:hover,
  &:active {
    border-color: rgba(0, 0, 0, 0.3);
  }
}
